
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <img src="StarMatchLogo2.png" alt="..." width="92" height="92">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo" aria-controls="navbarTogglerDemo" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class = "nav-link" href = "/"> Home</a>
        </li>
        <li class="nav-item">
          <a class = "nav-link" href = "/uploads"> Uploads</a>
        </li>
        <li class="nav-item">
          <a class = "nav-link" href = "/about"> About</a>
        </li>
      </ul>
    </div>
  </nav>