<!-- <!DOCTYPE html>
<html lang="en">
<html>
 <head>
 </head>
 <body>
   <h1>Hello World<h1>
    <img src="images/photo.png" alt="photo">
    <button onclick="loadNewPage()">Load New Page</button>
 </body>
 <script>
    function loadNewPage() {
        window.location.href = "/newpage";
    }
    </script>
</html> -->

<!DOCTYPE html>
<form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="image" />
    <button type="submit">Upload</button>
</form>