<!DOCTYPE html>
<html lang="en">
<html>
 <head>
 </head>
 <body>
    <h1>Second Hello World original<h1>
     <button onclick="loadNewPage2()">Load New Page</button>
  </body>
  <script>
     function loadNewPage2() {
         window.location.href = "/newpage2";
     }
     </script>
</html>