<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1><centre>Welcome User : <%= username %></centre></h1> <br>
    <l1><centre> First Name : <%= first_name %></centre></l1><br>
    <l2><centre> Last Name : <%= last_name %></centre></h2><br>
    <l3><centre> Email : <%= email %></centre></l3><br>
    <l4><centre> Year : <%= year %></centre></l4><br>
    <l5><centre> Major : <%= major %></centre></l5><br>
    <l6><centre> Degree : <%= degree %></centre></l6>
  </div>
</main>

<%- include ('../partials/footer') %>