<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<!DOCTYPE html>
<body class= "main" style="background-color:rgb(199, 199, 199);">
    <div class="container">
    <br>
    <h1 class="title">About</h1>
    <br>
    <br>
    <p style = "font-family: 'Quicksand', sans-serif;
    font-size: 25px;">Welcome to StarMatch, the fun and entertaining website that helps you discover which celebrity you resemble the most! We are a team of four computer scientists - Ethan, Steven, Lauren, and Shyeam - who are dedicated to bringing joy and excitement to people through this unique platform.</p>
    <br>
    <p style = "font-family: 'Quicksand', sans-serif; font-size: 25px;">Our team has come together to create a user-friendly and accurate platform that is enjoyable for everyone. We understand that people are curious to know which celebrity they look like, and our goal is to make that possible for everyone.
        At StarMatch, we use machine learning techniques to compare your photo with the database of thousands of celebrity images. Our system then generates a list of the top celebrity matches, providing you with a fun and accurate way to see which celebrity you resemble the most.</p>
        <br>
    <p style = "font-family: 'Quicksand', sans-serif;
    font-size: 25px;">We believe that our website is more than just a fun game. It's a way for people to connect with each other and learn more about themselves. Our team is passionate about providing the best experience possible, and we are dedicated to making sure that everyone who uses StarMatch has a fun and exciting time.
        Thank you for choosing StarMatch. We hope you have a great time discovering your celebrity lookalike and sharing your results with others!</p>
    </div>
</body>

<%- include ('../partials/footer') %>
