<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<!DOCTYPE html>

<body class= "main" style=" background-color: rgb(205,206,235);">
    <div class = "logo">
        <img src="StarMatchLogo.png" alt="ImageName">
    </div>
    <div id ="info">
        <h1>
            Welcome StarMatch,
        </h1>
        <p id="description">
            Upload a photo of yourself and let StarMatch discover which celebrity you resemble the most.
        </p>
    </div>
    <div class="container">
        <form action="/uploads" method="POST" enctype="multipart/form-data">
            <div><input type="file" name="image" class="custom-file-upload"></div>
            <br>
            <div></div><button type="submit" class="btn btn-primary">Upload</button></div>
        </form>
    </div>
</body>
<%- include ('../partials/footer') %>