<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<!DOCTYPE html>

<body class= "main" style=" background-color: rgb(205,206,235);">
    <div class = "logo">
        <img src="StarMatchLogo.png" alt="ImageName">
    </div>
    <div id ="info">
        <h1>
            Welcome To StarMatch,
        </h1>
        <p id="description">
            Upload a jpg photo of yourself and let StarMatch discover which celebrity you resemble the most.
        </p>
    </div>
    <div class="containertwo">
        <form action="/uploads" method="POST" enctype="multipart/form-data" onsubmit="showProgressBar()">
            <div>
                <input type="file" id="file-upload" name="image" class="custom-file-upload" accept=".jpeg,.jpg" >
            </div>
            <br>
            <div></div><button type="submit" id="submit-btn-div" class="btn btn-primary">Upload</button></div>
        </form>
        <div class="progress-bar" style="--width: 10" data-label="Finding Matches..."></div>
    </div>

</body>

<!-- <script>
    const progressBar = document.getElementsByClassName('progress-bar')[0];
    progressBar.style.display = 'none';

    const savedProgress = localStorage.getItem('progress');
    const savedLabel = localStorage.getItem('label');
    const progressIncrement = 0;

    if (localStorage.getItem('time'))
        progressIncrement = (new Date().getTime() - localStorage.getItem('time')) / 100;

    if (savedProgress && savedLabel) {
    progressBar.style.setProperty('--width', savedProgress);
    progressBar.setAttribute('data-label', savedLabel);
    showProgressBar();
}

    function showProgressBar() {
    console.log("showing progress bar");
      progressBar.style.display = 'block';
      setInterval(() => {
        if (width >= 1000)
        {
            localStorage.removeItem('time');
            localStorage.removeItem('label');
            localStorage.removeItem('progress');
            progressBar.setAttribute("data-label", "Finalizing Results...");
        }
        
        else
        {
            const computedStyle = getComputedStyle(progressBar);
            const width = parseFloat(computedStyle.getPropertyValue('--width')) || 0;
            progressBar.style.setProperty('--width', width + .1 + progressIncrement);

            localStorage.setItem('progress', progressBar.style.getPropertyValue('--width'));
            localStorage.setItem('label', progressBar.getAttribute('data-label'));
            localStorage.setItem('time', new Date().getTime());
        }
      }, 26); //25
    }
</script> -->

<script>
    const progressBar = document.getElementsByClassName('progress-bar')[0];
    progressBar.style.display = 'none';

    function showProgressBar() {
        console.log("showing progress bar");
        progressBar.style.display = 'block';
        setInterval(() => {
            const computedStyle = getComputedStyle(progressBar);
            let width = parseFloat(computedStyle.getPropertyValue('--width')) || 0;
            if (width >= 100) {
                progressBar.setAttribute("data-label", "Finalizing Results...");
            } else {
                const computedStyle = getComputedStyle(progressBar);
                const width = parseFloat(computedStyle.getPropertyValue('--width')) || 0;
                progressBar.style.setProperty('--width', width + .1);
            }
        }, 26);
    }
</script>
<%- include ('../partials/footer') %>